nPrbElemDl=6

# 0-15 CCs
PrbElemDlCCMask0=0f
PrbElemDlCCMask1=0f
PrbElemDlCCMask2=0f
PrbElemDlCCMask3=0f
PrbElemDlCCMask4=0f
PrbElemDlCCMask5=0f

#  0-63 AntC
PrbElemDlAntCMask0=ffffffffffffffff
PrbElemDlAntCMask1=ffffffffffffffff
PrbElemDlAntCMask2=ffffffffffffffff
PrbElemDlAntCMask3=ffffffffffffffff
PrbElemDlAntCMask4=ffffffffffffffff
PrbElemDlAntCMask5=ffffffffffffffff


#nRBStart, nRBSize, nStartSymb, numSymb, nBeamIndex, bf_weight_update, compMethod, iqWidth, BeamFormingType
# weight base beams
PrbElemDl0=0,48,0,14,0,1,1,9,1
PrbElemDl1=48,48,0,14,1,1,1,9,1
PrbElemDl2=96,48,0,14,2,1,1,9,1
PrbElemDl3=144,48,0,14,3,1,1,9,1
PrbElemDl4=192,48,0,14,4,1,1,9,1
PrbElemDl5=240,33,0,14,5,1,1,9,1
# Extension Parameters for Beamforming weights
# numBundPrb, numSetBFW, RAD, disableBFW, bfwIqWidth, bfwCompMeth
ExtBfwDl0=12,4,0,0,9,1
ExtBfwDl1=12,4,0,0,9,1
ExtBfwDl2=12,4,0,0,9,1
ExtBfwDl3=12,4,0,0,9,1
ExtBfwDl4=12,4,0,0,9,1
ExtBfwDl5=11,3,0,0,9,1

