#******************************************************************************
#
#   Copyright (c) 2019 Intel.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#******************************************************************************/
# This is simple configuration file. Use '#' sign for comments
# 3501	TDD	DDDFU: S it's 10:2:2	1	64T64R	100	16	8	100% 273 3276 100%  273	3276	Peak: 100 %
#	    TDD	DDDFU: S it's 10:2:2	1	64T64R	100	16	8	37%	100	1200	37%	100	1200	Avg: 36 %
#		TDD	DDDFU: S it's 10:2:2	1	64T64R	100	16	8	37%	100	1200	37%	100	1200	Avg: 36 %

appMode=1    # All O-DU(0) | O-RU(1)
instanceId=1 # 0,1,2,... in case more than 1 application started on the same system
mainCore=0 #core for main()
systemCore=2
ioCore=8           # core id
ioWorker=0x3E00 # second socket

dpdkMemorySize=18432
iovaMode=0

oXuNum=3 # numbers of O-RU connected to O-DU

oXuEthLinkSpeed=25  # 10G,25G,40G,100G speed of Physical connection on O-RU
oXuLinesNumber=2    # 1, 2, 3 total number of links per O-RU (Fronthaul Ethernet link)
oXuCPon1Vf=1        # (1) - C- plane and U-plane on the same set of VFs. (0) - C-plane and U-Plane use dedicated VFs

oXuCfgFile0=./peak_o_ru_tst376.dat  #O-RU0
oXuCfgFile1=./avg_o_ru_tst377.dat  #O-RU1
oXuCfgFile2=./avg_o_ru_tst377.dat  #O-RU2

# remote O-XU 0 Eth Link 0
oXuRem0Mac0=00:11:22:33:00:00
oXuRem0Mac1=00:11:22:33:00:10
# remote O-XU 0 Eth Link 1
oXuRem0Mac2=00:11:22:33:00:20
oXuRem0Mac3=00:11:22:33:00:30

# remote O-XU 1 Eth Link 0
oXuRem1Mac0=00:11:22:33:01:00
oXuRem1Mac1=00:11:22:33:01:10
# remote O-XU 1 Eth Link 1
oXuRem1Mac2=00:11:22:33:01:20
oXuRem1Mac3=00:11:22:33:01:30

# remote O-XU 2 Eth Link 0
oXuRem2Mac0=00:11:22:33:02:00
oXuRem2Mac1=00:11:22:33:02:10
# remote O-XU 2 Eth Link 1
oXuRem2Mac2=00:11:22:33:02:20
oXuRem2Mac3=00:11:22:33:02:30
