#******************************************************************************
#
#   Copyright (c) 2019 Intel.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#******************************************************************************/

nPrbElemDl=16

# 0-15 CCs
PrbElemDlCCMask0=0f
PrbElemDlCCMask1=0f
PrbElemDlCCMask2=0f
PrbElemDlCCMask3=0f
PrbElemDlCCMask4=0f
PrbElemDlCCMask5=0f
PrbElemDlCCMask6=0f
PrbElemDlCCMask7=0f
PrbElemDlCCMask8=0f
PrbElemDlCCMask9=0f
PrbElemDlCCMask10=0f
PrbElemDlCCMask11=0f
PrbElemDlCCMask12=0f
PrbElemDlCCMask13=0f
PrbElemDlCCMask14=0f
PrbElemDlCCMask15=0f

#  0-63 AntC
PrbElemDlAntCMask0=0f    #UE 0 4 layers <nTxRUIdx0>0</nTxRUIdx0>  <nTxRUIdx1>1</nTxRUIdx1> <nTxRUIdx2>2</nTxRUIdx2> <nTxRUIdx3>3</nTxRUIdx3>
PrbElemDlAntCMask1=0f0   #UE 1 4 layers <nTxRUIdx0>4</nTxRUIdx0>  <nTxRUIdx1>5</nTxRUIdx1> <nTxRUIdx2>6</nTxRUIdx2> <nTxRUIdx3>7</nTxRUIdx3>
PrbElemDlAntCMask2=0f00  #UE 2 4 layers <nTxRUIdx0>8</nTxRUIdx0>  <nTxRUIdx1>9</nTxRUIdx1> <nTxRUIdx2>10</nTxRUIdx2> <nTxRUIdx3>11</nTxRUIdx3>
PrbElemDlAntCMask3=0f000 #UE 3 4 layers <nTxRUIdx0>12</nTxRUIdx0> <nTxRUIdx1>13</nTxRUIdx1> <nTxRUIdx2>14</nTxRUIdx2> <nTxRUIdx3>15</nTxRUIdx3>
PrbElemDlAntCMask4=03    #UE 4 2 layers <nTxRUIdx0>0</nTxRUIdx0>  <nTxRUIdx1>1</nTxRUIdx1>
PrbElemDlAntCMask5=0c   #UE 5 2 layers <nTxRUIdx0>2</nTxRUIdx0>  <nTxRUIdx1>3</nTxRUIdx1>
PrbElemDlAntCMask6=030   #UE 6 2 layers <nTxRUIdx0>4</nTxRUIdx0>  <nTxRUIdx1>5</nTxRUIdx1>
PrbElemDlAntCMask7=0C0   #UE 7 2 layers <nTxRUIdx0>6</nTxRUIdx0>  <nTxRUIdx1>7</nTxRUIdx1>
PrbElemDlAntCMask8=03    #UE 8 2 layers <nTxRUIdx0>0</nTxRUIdx0>  <nTxRUIdx1>1</nTxRUIdx1>
PrbElemDlAntCMask9=0c    #UE 9 2 layers <nTxRUIdx0>2</nTxRUIdx0>  <nTxRUIdx1>2</nTxRUIdx1>
PrbElemDlAntCMask10=01   #UE 10 1 layers <nTxRUIdx0>0</nTxRUIdx0>
PrbElemDlAntCMask11=02   #UE 11 1 layers <nTxRUIdx0>1</nTxRUIdx0>
PrbElemDlAntCMask12=04   #UE 12 1 layers <nTxRUIdx0>2</nTxRUIdx0>
PrbElemDlAntCMask13=08   #UE 13 1 layers <nTxRUIdx0>3</nTxRUIdx0>
PrbElemDlAntCMask14=01   #UE 14 1 layers <nTxRUIdx0>0</nTxRUIdx0>
PrbElemDlAntCMask15=02   #UE 15 1 layers <nTxRUIdx0>1</nTxRUIdx0>

#nRBStart, nRBSize, nStartSymb, numSymb, nBeamIndex, bf_weight_update, compMethod, iqWidth, BeamFormingType
# weight base beams
# peak
PrbElemDl0=0,4,0,6,0,1,1,9,1 #UE 0 4 layers
PrbElemDl1=0,4,0,6,1,1,1,9,1 #UE 1 4 layers
PrbElemDl2=0,4,0,6,2,1,1,9,1 #UE 2 4 layers
PrbElemDl3=0,4,0,6,3,1,1,9,1 #UE 3 4 layers

#nc
PrbElemDl4=4,28,0,6,4,1,1,9,1 #UE 4 2 layers
PrbElemDl5=4,28,0,6,5,1,1,9,1 #UE 5 2 layers
PrbElemDl6=4,28,0,6,6,1,1,9,1 #UE 6 2 layers
PrbElemDl7=4,28,0,6,7,1,1,9,1 #UE 7 2 layers

#mc
PrbElemDl8=32,44,0,6,8,1,1,9,1 #UE 8 2 layers
PrbElemDl9=32,44,0,6,9,1,1,9,1 #UE 9 2 layers

#mec
PrbElemDl10=76,64,0,6,10,1,1,9,1 #UE 10 1 layers
PrbElemDl11=76,64,0,6,11,1,1,9,1 #UE 11 1 layers
PrbElemDl12=76,64,0,6,12,1,1,9,1 #UE 12 1 layers
PrbElemDl13=76,64,0,6,13,1,1,9,1 #UE 13 1 layers

#mc
PrbElemDl14=140,76,0,6,14,1,1,9,1 #UE 14 1 layers
PrbElemDl15=140,76,0,6,15,1,1,9,1 #UE 15 1 layers

# Extension Parameters for Beamforming weights
# numBundPrb, numSetBFW, RAD, disableBFW, bfwIqWidth, bfwCompMeth
ExtBfwDl0=2,2,0,0,9,1
ExtBfwDl1=2,2,0,0,9,1
ExtBfwDl2=2,2,0,0,9,1
ExtBfwDl3=2,2,0,0,9,1
ExtBfwDl4=14,2,0,0,9,1
ExtBfwDl5=14,2,0,0,9,1
ExtBfwDl6=14,2,0,0,9,1
ExtBfwDl7=14,2,0,0,9,1
ExtBfwDl8=22,2,0,0,9,1
ExtBfwDl9=22,2,0,0,9,1
ExtBfwDl10=32,2,0,0,9,1
ExtBfwDl11=32,2,0,0,9,1
ExtBfwDl12=32,2,0,0,9,1
ExtBfwDl13=32,2,0,0,9,1
ExtBfwDl14=38,2,0,0,9,1
ExtBfwDl15=38,2,0,0,9,1

