nPrbElemUl=6

# 0-15 CCs
PrbElemUlCCMask0=0f
PrbElemUlCCMask1=0f
PrbElemUlCCMask2=0f
PrbElemUlCCMask3=0f
PrbElemUlCCMask4=0f
PrbElemUlCCMask5=0f

#  0-63 AntC
PrbElemUlAntCMask0=ffffffffffffffff
PrbElemUlAntCMask1=ffffffffffffffff
PrbElemUlAntCMask2=ffffffffffffffff
PrbElemUlAntCMask3=ffffffffffffffff
PrbElemUlAntCMask4=ffffffffffffffff
PrbElemUlAntCMask5=ffffffffffffffff

#nRBStart, nRBSize, nStartSymb, numSymb, nBeamIndex, bf_weight_update, compMethod, iqWidth, BeamFormingType
# weight base beams
PrbElemUl0=0,48,0,14,0,1,1,9,1
PrbElemUl1=48,48,0,14,1,1,1,9,1
PrbElemUl2=96,48,0,14,2,1,1,9,1
PrbElemUl3=144,48,0,14,3,1,1,9,1
PrbElemUl4=192,48,0,14,4,1,1,9,1
PrbElemUl5=240,33,0,14,5,1,1,9,1
# Extension Parameters for Beamforming weights
# numBundPrb, numSetBFW, RAD, disableBFW, bfwIqWidth, bfwCompMeth
ExtBfwUl0=12,4,0,0,9,1
ExtBfwUl1=12,4,0,0,9,1
ExtBfwUl2=12,4,0,0,9,1
ExtBfwUl3=12,4,0,0,9,1
ExtBfwUl4=12,4,0,0,9,1
ExtBfwUl5=11,3,0,0,9,1
