#******************************************************************************
#
#   Copyright (c) 2019 Intel.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#******************************************************************************/

nPrbElemUl=11
nPrbElemSrs=0

# 0-15 CCs
PrbElemUlCCMask0=0f
PrbElemUlCCMask1=0f
PrbElemUlCCMask2=0f
PrbElemUlCCMask3=0f
PrbElemUlCCMask4=0f
PrbElemUlCCMask5=0f
PrbElemUlCCMask6=0f
PrbElemUlCCMask7=0f
PrbElemUlCCMask8=0f
PrbElemUlCCMask9=0f
PrbElemUlCCMask10=0f

#  0-63 AntC
PrbElemUlAntCMask0=0f    #UE 0 2 layers 4 streams
PrbElemUlAntCMask1=0f0   #UE 1 2 layers 4 streams
PrbElemUlAntCMask2=0f00  #UE 2 2 layers 4 streams
PrbElemUlAntCMask3=0f000 #UE 3 2 layers 4 streams
PrbElemUlAntCMask4=0f    #UE 4 2 layers 4 streams
PrbElemUlAntCMask5=0f0   #UE 5 2 layers 4 streams
PrbElemUlAntCMask6=03    #UE 6 1 layers 2 streams
PrbElemUlAntCMask7=0C    #UE 7 1 layers 2 streams
PrbElemUlAntCMask8=03    #UE 8 1 layers 2 streams
PrbElemUlAntCMask9=0c    #UE 9 1 layers 2 streams
PrbElemUlAntCMask10=03   #UE 10 1 layers 2 streams

#nRBStart, nRBSize, nStartSymb, numSymb, nBeamIndex, bf_weight_update, compMethod, iqWidth, BeamFormingType
# weight base beams
# peak
PrbElemUl0=0,4,0,14,0,1,1,9,1 #UE 0 2 layers 4 streams
PrbElemUl1=0,4,0,14,1,1,1,9,1 #UE 1 2 layers 4 streams
PrbElemUl2=0,4,0,14,2,1,1,9,1 #UE 2 2 layers 4 streams
PrbElemUl3=0,4,0,14,3,1,1,9,1 #UE 3 2 layers 4 streams

#nc
PrbElemUl4=4,28,0,14,4,1,1,9,1 #UE 4 2 layers 4 streams
PrbElemUl5=4,28,0,14,5,1,1,9,1 #UE 5 2 layers 4 streams
#mc
PrbElemUl6=32,44,0,14,6,1,1,9,1 #UE 6 1 layers 2 streams
PrbElemUl7=32,44,0,14,7,1,1,9,1 #UE 7 1 layers 2 streams

#mec
PrbElemUl8=76,64,0,14,8,1,1,9,1 #UE 8 1 layers 2 streams
PrbElemUl9=76,64,0,14,9,1,1,9,1 #UE 9 1 layers 2 streams

#mc
PrbElemUl10=140,76,0,14,10,1,1,9,1 #UE 10 1 layers 2 streams

# Extension Parameters for Beamforming weights
# numBundPrb, numSetBFW, RAD, disableBFW, bfwIqWidth, bfwCompMeth
ExtBfwUl0=2,2,0,0,9,1
ExtBfwUl1=2,2,0,0,9,1
ExtBfwUl2=2,2,0,0,9,1
ExtBfwUl3=2,2,0,0,9,1
ExtBfwUl4=14,2,0,0,9,1
ExtBfwUl5=14,2,0,0,9,1
ExtBfwUl6=22,2,0,0,9,1
ExtBfwUl7=22,2,0,0,9,1
ExtBfwUl8=32,2,0,0,9,1
ExtBfwUl9=32,2,0,0,9,1
ExtBfwUl10=38,2,0,0,9,1

